= simple_form_for @new_message, url:user_chat_messages_path(resource_user)  do |f|
	= f.input :content
	= f.button :submit

%ul
	- @messages.each do |message|
		%li
			= message.content
			= message.receiver		
			= message.sender
		

